# Values here are the default in case .env doesn't provide them

PORT=3000

# Database Configuration (PostgreSQL)
PGHOST=localhost
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=

# Authentication
JWT_SECRET=fallback_secret
